<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.eventlisting_name %></div>

  <div class="panel-body">

    <p>Location: <%= @event.location %></p>
    <p>User email: <%= @event.user.email %></p>

    <!-- Main Info -->
    <h4>Main Info</h4>
    <p>Event name: <%= @event.name %></p>
    <p><%= @event.capacity %> <%= @event.capacity > 1 ? "Guests" : "Guest" %></p>

    <!-- About -->
    <h4>About</h4>
    <p><%= @event.description %></p>
    <p><%= "Location:" @event.location %></p>
    <p><%= "Price:" @event.price %></p>
    <p><%= "Starts at:" @event.starts_at %></p>
    <p><%= "Ends at:" @event.ends_at %></p>

    <!-- Amenities -->
    <h4>Other</h4>
    <ul class="Food and drinks">
      <li><%= !@event.includes_food ? ("<s>Food</s>").html_safe : "Food" %></li>
      <li><%= !@event.includes_drinks ? ("<del>Drinks</del>").html_safe : "Drinks" %></li>
    </ul>

  </div>

</div>

<h4>Categories</h4>
<% @categories.each do |category| %>
  <span class="label label-success"><%= category.name %></span>
<% end %>

<%= link_to "Back", events_path, class: "btn btn-default" %>
